#game {
  font-size: 1.5em;
  text-align: center;
  span {
    padding: 1em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
    &:hover {
      background: #ccc;
    }
    &.selected {
      background: #c00;
    }
  }
}
