<div id="game">
  <header>
    <h1>Score: {{state.score}}<span class="goal" ng-if="goal" ng-class="{'beaten': goal < state.score}">&nbsp;({{goal}})<span></h1>
    <h2>Time Left: {{time()}}</h2>
  </header>
  <div id="board">
    <div ng-repeat="row in state.board" class="row">
      <span ng-repeat="cell in row" hm-tap="cell.select()" ng-class="{'selected': cell.selected}">
        {{cell.display}}
      </span>
    </div>
  </div>
  <button hm-tap="undo()" ng-if="state.selected.length > 0" class="undo">Undo</button>
</div>
