@keyframes flash {
  0% {
    background-color: #c00;
    color: #000;
  }
  50% {
    color: #dd7777;
  }
  100% {
    background-color: #fff;
    color: #000;
  }
}

#game {
  text-align: center;
  header {
    text-align: left;
    div.time-container {
      width: 100%;
      height: 25px;
      margin: 0;
      background-color: #333;
      position: relative;
      div.time-left {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: tomato;
        transition: width 1s linear;
      }
    }
  }
  #board {
    font-size: 1.3em;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .column {
      display: flex;
      flex-direction: column;
      span {
        width: 20%;
        padding: 1em;
        display: inline-block;
        cursor: pointer;
        border-radius: 6px;
        border: 1px solid #eee;
        &:hover {
          background-color: #ccc;
        }
        &.selected {
          background-color: #c00;
        }
        &.replaced {
          animation: flash 0.5s 1 linear;
        }
      }
    }
  }
  ul {
    &.current li {
      color: #00c;
    }
    &.found li {
      color: #0c0;
    }
  }
  button.undo {
    width: calc(6em + 96px);
    background-color: tomato;
    border: none;
    border-radius: 4px;
    font-size: 1.8em;
    margin-top: 0.2em;
  }
  .goal {
    color: tomato;
    &.beaten {
      color: lime;
    }
  }
}

@media screen and (min-width: $breakpoint-min-width) {
  #game {
    #board {
      font-size: 1.5em;
      .column {
        span {
          width: auto;
        }
      }
    }
    button.undo {
      margin-top: 1em;
    }
  }
}
