#start {
  background-color: $start-background-color;
  button {
    border: 1px solid $start-button-border;
    background-color: $start-button-bg;
    color: $start-button-fg;
    &:hover {
      border: 1px solid $start-button-border-hover;
      background-color: $start-button-bg-hover;
      color: $start-button-fg-hover;
      cursor: pointer;
    }
  }
}
