$breakpoint-min-width: 350px;

//Colors
$black: #000;
$white: #fff;
$purple-rarest: #ca77fa;
$purple-rare: #b36ae1;
$purple-medium-rare: #9752c5;
$purple-medium: #773f9b;
$purple-medium-well: #5f327c;
$purple-well: #4a2862;
$purple-wellest: #3b1f4d;
$aqua-rarest: #11edba;
$aqua-rare: #11dcad;
$aqua-medium-rare: #0fcda1;
$aqua-medium: #0ebd94;
$aqua-medium-well: #0dad88;
$aqua-well: #0c9d7c;
$aqua-wellest: #0F3C37;
$rose-quartz: #F7CAC9;
$peach-echo: #f7786b;
$chestnut: #402619;

//Color Usages
$start-background-color: $aqua-rarest;
$game-background-color: $purple-rarest;
$results-background-color: $rose-quartz;
$title-color: $purple-wellest;
$start-button-border: $white;
$start-button-bg: $aqua-wellest;
$start-button-fg: $white;
$start-button-border-hover: $aqua-well;
$start-button-bg-hover: $white;
$start-button-fg-hover: $aqua-wellest;
$board-border: $purple-medium;
$board-color-fg: $white;
$board-color-bg: $purple-well;
$board-color-bg-hover: $purple-wellest;
$board-color-fg-selected: $purple-wellest;
$board-color-bg-selected: $aqua-medium;
$timer-bg: $purple-well;
$timer-fg: $aqua-well;
$undo-button-border: $purple-well;
$undo-button-bg: $aqua-well;
$undo-button-fg: $white;
$undo-button-bg-hover: $aqua-medium-well;
$goal-fg: $white;
$goal-unbeaten: $white;
$goal-beaten: $aqua-rarest;
$board-color-bg-flash: $white;
$board-color-fg-flash: $aqua-well;
$results-header-fg: $chestnut;
$results-button-border: $chestnut;
$results-button-bg: $peach-echo;
$results-button-fg: $chestnut;
$results-button-bg-hover: $chestnut;
$results-button-fg-hover: $peach-echo;
