$breakpoint-min-width: 350px;

//Colors
$purple-rarest: #ca77fa;
$purple-rare: #b36ae1;
$purple-medium-rare: #9752c5;
$purple-medium: #773f9b;
$purple-medium-well: #5f327c;
$purple-well: #4a2862;
$purple-wellest: #3b1f4d;
$aqua-rarest: #11edba;
$aqua-rare: #11dcad;
$aqua-medium-rare: #0fcda1;
$aqua-medium: #0ebd94;
$aqua-medium-well: #0dad88;
$aqua-well: #0c9d7c;
$aqua-wellest: #0F3C37;

//Color Usages
$start-background-color: $purple-rarest;
$game-background-color: $aqua-wellest;
$title-color: $purple-wellest;
$start-button-bg: $purple-well;
$start-button-fg: $purple-rarest;
$board-border: $purple-wellest;
$board-color-fg: $purple-wellest;
$board-color-bg: $aqua-rare;
$board-color-bg-hover: $aqua-rarest;
$board-color-fg-selected: $purple-rarest;
$board-color-bg-selected: $purple-medium-well;
$timer-bg: $purple-well;
$timer-fg: $aqua-well;
$undo-button-bg: $aqua-well;
$undo-button-fg: $aqua-rarest;
$undo-button-bg-hover: $aqua-medium-well;
